body {
    font-size: 15px;
}

button {
    background: #ffc600;
    border: 0;
    padding: 10px 20px;
}

img {
    max-width: 100%;
}

.hero {
    background: url(images/taco.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center center;
}
